music-container{
	padding: 10px;
	width: 100%;
}

.container{
	padding-left: 10px;
	padding-right: 10px;
	width: auto;
	height: 50px;
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
}

.container:hover{
	background-color: #494949;
}

p{
	font-weight: 700;
	color: white;
}

.id{
	width: 5%;
	display: flex;
	justify-content: center;
}

.thumbnail{
	width: 45px;
	height: 45px;
	border-radius: 10px;
}

.music-name{
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: 500;
}

.artist-name{
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: 500;
}

.info{
	width: 25%;
	display: flex;
	height: 100%;
	padding: 10px;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}

.genre{
	width: 35%;
	display: flex;
	justify-content: center;
	font-size: 12px;
	font-weight: 500;
}